body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(to bottom, #a5d6a7 0%, #4caf50 100%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100%;
}

form {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 1100px;
}

.title {
  font-size: 1.75rem;
  font-weight: bold;
  color: #007200;
}

.form-header {
  margin-bottom: 10px;
}

.form-section {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  flex-direction: row;
}

.left-column, .right-column {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 300px;
}

.age {
  max-width: 400px;
  display: flex;
  flex-wrap: wrap;
}

.left-age {
  padding-right: 50px;
}

h2 {
  color: green;
}

label {
  display: block;
  margin-top: 10px;
}

input {
  color: #007200;
}

input::placeholder {
  color: #007200;
}

input[type="email"], input[type="text"], select, textarea {
  width: 100%;
  max-width: 400px;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

textarea {
  min-height: 50px;
  color: #007200;
}

input[type="radio"], select {
  margin-right: 10px;
  color: #007200;
}

button {
  background-color: #3A983F;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
  width: 100%;
  border-radius: 4px;
  box-sizing: border-box;
}

label {
  font-weight: bold;
}

button:hover {
  background-color: darkgreen;
}

